<% provide(:title, "Home") %>

<h1>Welcome to my website</h1>
<p>To get started, click on the game below:</p>

<%= link_to simonsays_path, class: "simonsays_link", :action => 'go' do %>
  <div>
    <%= image_tag("simonsays_icon.jpg", id:'simonsays_icon') %>
    <h1 class='simonsays_text'>Simon Says Game</h1>
  </div>
<% end %>

<p>Leave a Message:</h5>

<%= form_for(@message, url: post_path) do |form| %>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :comment, style: "display: block" %>
    <%= form.text_area :comment %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>

<h3 class="messagesHeader">Messages:
  <span class="headerSubtext">(Messages can be deleted within 5 minutes or after 7 days)</span>
</h3>
<% @messages.each do |message| %>
	<div class="message">
	  <p class="emptyGap"></p>
		<p class="name">Name: <%= message.name %></p>
		<% if Time.now < message.created_at + 5.minutes || Time.now > message.created_at + 7.days %>
			<%= button_to "Delete this message",
			  { action: "destroy", id: message.id },
	      { form_class: "deleteButton", class: "deleteButton", method: :delete }
	    %>
    <% end %>
		<p class="comment">Comment: <%= message.comment %></p>
	</div>
<% end %>