<% provide(:title, "Simon Says") %>

<h3 style='font-size: 40px'>Play the Classic SimonSays Game</h3>
<h4>High Score: <span id='highscore'></span></h4>
<div class="mainbox">
  <div class='scorebox'>
    <h2 id='score'>0</h2>
  </div>
  <button id='red' onClick='red()'></button>
  <button id='yellow' onClick='yellow()'></button>
  <button id='blue' onClick='blue()'></button>
  <button id='green'  onClick='green()'></button>
</div>

<div class='newGameDiv'>
  <button class='newGame' onClick='newGame()'>New Game</button>
</div>

<button onClick='saveGame()'>Save Game</button>
<button onClick='loadGame()'>Load Game</button>
<input id="saveInput" />

<%= form_for(@simonsave, url: manualSave_path) do |form| %>
  <div>
    <%= form.label :savecode, style: "display: block" %>
    <%= form.text_field :savecode %>
  </div>
  <div>
    <%= form.label :savestate, style: "display: block" %>
    <%= form.text_field :savestate %>
  </div>
  <div>
    <%= form.submit "Generate Save" %>
  </div>
<% end %>

<% @simonsaves.each do |simonsave| %>
	<div class="message">
		<p class="name"><%= simonsave.savecode %></p>
		<p class="comment"><%= simonsave.savestate %></p>
		<%= button_to "Delete this save", { action: "delete", id: simonsave.id }, method: :delete %>
	</div>
<% end %>

<%= audio_tag "key08.wav", id: "redSound" %>
<%= audio_tag "key11.wav", id: "yellowSound" %>
<%= audio_tag "key04.wav", id: "blueSound" %>
<%= audio_tag "key15.wav", id: "greenSound" %>
<%= javascript_include_tag('simonsaysLogic.js') %>