<% provide(:title, "Simon Says") %>

<h3 style='font-size: 40px'>Play the Classic SimonSays Game</h3>
<h4 class="highScore">High Score: <span id='highscore'>0</span></h4>
<div class="saveLoadBox">
  <button class= "saveButton" onClick='saveGame()'>
    <%= image_tag("saveicon.jpg", id:'saveIcon') %>Save</button>
  <br>
  <button class= "loadButton" onClick='loadGame()'>
    <%= image_tag("loadicon.png", id:'loadIcon') %>Load</button>
  <br>
  <p class="saveCode">Enter Savecode: <br><input id="saveInput" /></p>
</div>
<div class="mainbox">
  <div class='scorebox'>
    <h2 id='score'>0</h2>
  </div>
  <button id='red' onClick='red()'></button>
  <button id='yellow' onClick='yellow()'></button>
  <button id='blue' onClick='blue()'></button>
  <button id='green'  onClick='green()'></button>
</div>

<div class='newGameDiv'>
  <button class='newGame' onClick='newGame()'>New Game</button>
</div>

<%= audio_tag "key08.wav", id: "redSound" %>
<%= audio_tag "key11.wav", id: "yellowSound" %>
<%= audio_tag "key04.wav", id: "blueSound" %>
<%= audio_tag "key15.wav", id: "greenSound" %>
<%= javascript_include_tag('simonsaysLogic.js') %>